$linkFontSize: 17px;
$bigPadMd: 70px;
$bigPadSm: 35px;
$mainFontColor: #fff;
$sectionGrey: #c6c8ca;
$basePadding: 50px;
$success: #22ffb9;
$link-color: #333;
$link-hover-decoration: none;
$card-cap-bg: fff;
@import "../node_modules/bootstrap/scss/bootstrap";


.top-big-pad {
  padding-top: $bigPadMd;
  @media (max-width: 992px) {
    padding-top: $bigPadSm;
  }
}

header {
  background: url('../images/header-bg.jpg');
  background-size: cover;
  padding:$basePadding;
  color: $mainFontColor;
  .logo {
    @media (max-width: 768px) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  .nav-pad {
    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }
  a {
    color: $mainFontColor;
    font-size: $linkFontSize;
    &:hover {
      color: #333;
    }
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    margin-bottom: 35px;
    line-height: 2rem;
    @media (max-width: 576px) {
      line-height: 1rem;
    }
  }
  @media (min-width: map-get($grid-breakpoints, "md") ) {
    padding-top: 35px;

    .btn-sign {
      padding: 0px 16px;
      height: 26px;
      margin-top: 10px;
    }

    h1 {
      font-weight: bold;
      font-size: 3.5rem;
    }
  }

}

#second {
  h4 {
    color: $sectionGrey;
    font-weight: bold;
  }

  p {
    max-width: 400px;
    margin: 0 auto;
    color: $sectionGrey;
  }

  .item {
    i {
      font-size: 53px;

      &.first-icon {
        color: #de65f6;
      }

      &.second-icon {
        color: #f6916f;
      }

      &.third-icon {
        color: #5cf63c;
      }
    }
  }

  h5 {
    margin-top: 30px;
  }

  .btn-success {
    color: $mainFontColor;
    font-weight: bold;
  }
}

#third {
  .icon-font {
    font-size: 21px;
    font-weight: 400;
    color: $link-color;
    margin: 0;
  }
  .card {
    .card-body {
      @media (max-width: 992px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      &__img {
        width: 100%;
      }
      &__description {
        padding: 0px 20px;
      }
    }
  }
}

#four {
  p {
    max-width: 400px;
    margin: 0 auto;
    color: $sectionGrey;
  }
  .btn-success {
    color: $mainFontColor;
    font-weight: bold;
    padding: 5px 30px;
    box-shadow: 2px 3px 8px 0px black;
  }
}

#footer {
  background-color: rgb(26, 21, 77);
  .logo {
    @media (max-width: 992px) {
      text-align: center;
      padding-bottom: 20px;
    }
    padding-left: 1rem;
  }
  a {
    color: $mainFontColor;
    font-size: $linkFontSize;
    &:hover {
      text-decoration: underline;
    }
  }
  .nav-help {
    padding: 0px;
    margin: 0px;
    &__item {
      list-style: none;
      padding: 0.5rem 1rem;
      transition: all 0.5s;
      a {
        color: #bdbdbd;
        &:hover {
          color: $mainFontColor;
          text-decoration: none;
        }
      }
    }
  }
  .nav-social {
    padding: 0px;
    margin: 0px;
    &__item {
      list-style: none;
      padding: 0.5rem 1rem;
      transition: all 0.5s;
      :hover {
        transform: scale(2);
      }
      a {
        color: #bdbdbd;
      }
    }
  }
}
